body {
    background-color: #002416;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    flex-direction: column;
}

h1 {
    color: white;
    font-size: 4em;
}

.logo {
	margin-top: 64px;
    width: 50%;
}